@{
    ViewData["Title"] = "TrackingInfo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .containerNew {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
    }
</style>
<div class="containerNew">
    <div class="row">
        <div class="col-md-8 text-left">
            <h2>Manage Tracking Info</h2>
        </div>
        <div class="form-inline col-md-4 div-right">
            <div class="input-group">
                <input type="text" placeholder="Search By Name,UserName and Description" id="txtSearch" class="form-control">
                <div class="input-group-append">
                    <button type="submit" onclick="javascript: DataTableInit();" class="btn btn-success"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-4 table-responsive">
            <table class="table table-bordered table-hover" id="dataTable">
                <thead class="thead-light ">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Module Name</th>
                        <th scope="col">WorkDescription</th>
                        <th scope="col" class="wd200">TrackDate</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/TrackingInfo/trackinginfo-main.js"></script>